body {
  padding: 0 !important;
  margin: 2px;
  font-family: "Nunito", sans-serif;
}

.header {
  background: white;
  display: flex;
  align-items: center;
  padding: 16px 12px;
  position: sticky;
  top: 0;
  color: #777;
}

.header__title {
  font-size: 20px;
  font-weight: 600;
}

.header__photo-count {
  font-size: 14px;
  margin-left: auto;
}

.modal-actions {
  background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0));
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 10px 20px;
  justify-content: flex-end;
}

.modal-actions__button {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.75);
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.footer {
  text-align: center;
  color: #777;
  padding: 12px;
  font-size: 14px;
}

.lds-heart {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
  margin: 8px auto;
}

.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #f26b6b;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #f26b6b;
}

.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
